.flashcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 80px; /* Lisää ylimääräistä tilaa navbarin alapuolelle */
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  max-width: 600px;
  margin-bottom: 20px;
}

a {
  color: #bddfe0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.prev-button, .next-button {
  background-color: #707375;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 
}