/* Yläpalkki (navbar) */
.navbar {
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  position: fixed; /* kiinnittää navbaarin yläreunaan */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* pitää navbaarin muun sisällön yläpuolella */
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover {
  background-color: #555; /* vaihtaa väriä hover-tilassa */
  border-radius: 5px;
}

.nav-item.active {
  color: #ffb6c1; /* vaaleanpunainen väri aktiiviselle sivulle, ei toimi */
}

.App {
  /* margin-top: 500px; Poista tämä rivi */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}


.weather {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
}

.weather h2 {
  color: #333;
}

.weather p {
  margin: 5px 0;
  color: #555;
}

/* Asettelu Exchange-sivulle */
.exchange-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 20px; 
  margin-top: 20px;
  padding: 20px;
  flex-direction: row; /* Sivupalkki on oikealla oletuksena */
}


.main-content {
  max-width: 600px; 
  text-align: center; 
}


.sidebar {
  flex-shrink: 0;
  width: 250px; 
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* ivupalkki ylös, jos se vie yli 30 % näytön leveydestä */
@media (max-width: 850px) {
  .exchange-container {
    flex-direction: column; 
    align-items: center; 
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px; 
}

.weather {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
}

.weather h2 {
  color: #333;
}

.weather p {
  margin: 5px 0;
  color: #555;
}

/* Kuvakkeen tyylit */
.weather-icon {
  width: 80px; /* Kuvakkeen koko */
  height: auto;
  margin: 10px 0;
}}